@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

#mainContainer {
    background-color: #f4f4f4; /* 밝은 회색 배경 */
    height: 700px; /* 화면 전체 높이 */
    display: flex;
    justify-content: center; /* 수평 중앙 */
    align-items: center; /* 수직 중앙 */
    font-family: 'Open Sans', sans-serif;
}

.errorContents {
    background-color: white;
    padding: 50px;
    border-radius: 8px; /* 둥근 모서리 */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    text-align: center; /* 텍스트 중앙 정렬 */
	height: 500px;
    width: 70%; /* 화면에 맞는 비율로 크기 설정 */
}

.eventImgs {
    width: 100%; /* 이미지가 부모 컨테이너에 맞춰 크기 조정 */
    max-width: 500px; /* 이미지 크기 제한 */
    margin-bottom: 20px; /* 이미지와 텍스트 사이 여백 */
}

.errorTitle {
    font-size: 28px;
    font-weight: bold;
    color: #e74c3c; /* 빨간색 */
    margin-bottom: 30px;
}

.errorComment {
    font-size: 16px;
    color: #555; /* 어두운 회색 */
    margin-bottom: 30px;
}

.backButton {
    background-color: #3498db; /* 파란색 버튼 */
    color: white; /* 글자 색 */
    padding: 12px 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.backButton:hover {
    background-color: #2980b9; /* 버튼 hover 시 색상 */
}
