@charset "UTF-8";

#mainContainer {       
    background-color: white;
}

.myPageCategory{	
	height: 15px;
	display: flex;
	/* justify-content: space-between; */
	padding: 50px 90px;
    font-size: 25px;
    flex-wrap: wrap;
    text-align: center;
}

.myPageCategory__element{
	width: calc(100% / 4);
	border-bottom: 1px solid;
	height: 40px;
}

.myPageCategory__element:hover{
	border-bottom: 3px solid;
}

.myPageCategoryBtn{
	border: none;
	background-color: transparent;
	font-size: 24px;	
	width: 400px;
    height: 40px;
}

/* 예약 리스트 */

.myReserveList {
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: center; 
	margin: 0 auto;  
}

.myReserveList-header, .myReserveList-item {
	width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.reserve-header {
    font-weight: bold;
    background-color: #f0f0f0;
}

.header-item, .item-content {
	width: 25%;
    flex: 1;
    padding: 0 10px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.course-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.course-name img {
	border: 1px solid black;
    width: 140px;
    height: 130px;
    margin-bottom: 10px;
}

.reserveCancel {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
}

.reserveCancel:hover {
    background-color: #d32f2f;
}