@charset "UTF-8";

/* 공통 스타일 */
#main-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;   	
}

.signUpFlexBox {
    display: flex;
    height: 700px;
    width: 80%;
}

/* 왼쪽 이미지 부분 */
.signUpImg, main-container_signUp {
    position: relative;
    width: 50%;
}

.signUpImg__img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.signUpImg__textContainer {
    position: absolute;
    top: 100px;
    text-align: center;
    width: 100%;
}

.signUpImg__textContainer p {
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 4px 4px 2px #0000007a;
}

.signUpImg__secondText {
    margin-top: 16px;
}

.signUp_btn {
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-shadow: 3px 2px 2px #0000007a;
}

.signUp_btn:hover {
    font-size: 22px;
}

/* 오른쪽 회원가입 폼 부분 */

.main-container_signUp {
	background-color: #c4d0e3;
}
