@charset "UTF-8";

/* 공통 스타일 */
#main-container {
    margin-top: 100px;
    /* display: flex;
    justify-content: center;
    align-items: center;  */
      	
}

.signUpFlexBox {
    display: flex;
    height: 700px;
    /* width: 80%;*/ 
}

/* 왼쪽 이미지 부분 */
.signUpImg, .main-container_signUp {
    position: relative;
    width: 50%;
}

.signUpImg__img {
    width: 100%;
    height: 700px;
    /* object-fit: cover; */
}

.signUpImg__textContainer {
    position: absolute;
    top: 100px;
    text-align: center;
    width: 100%;
}

.signInImg__firstText--text, .signInImg__secondText--text{
	color: white;
	font-size: 50px;
	font-weight: bold;
	text-shadow: 4px 4px 2px #0000007a;
}

.signUpImg__secondText {
    margin-top: 16px;
}

.signUp_content--signupBtn{
	margin-top: 30px;
}

.signUp_btn {
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-shadow: 3px 2px 2px #0000007a;
}

.signUp_btn:hover {
    font-size: 22px;
}

/* 오른쪽 회원가입 폼 부분 */

.main-container_signUp {	
	background-color: #c4d0e3;
	width: 50%;
	
}

.main-container_signUp--title{
	padding-top: 30px;
}

.main-container_signUp--title--text{
	text-align: center;
	font-size: 40px;
	color: white;
	font-weight: bold;
	text-shadow: 3px 3px 3px #0000004a;
}

.main-container_signUp--title{
	padding-top: 30px;
}

.main-container_signUp_content_form{	
	width: 61.8%;
	margin-left: 170px;
	display: flex;
}

#signUpForm {
	margin-top: 30px;	
	
}

.main_signUp_content__memberId,
.main_signUp_content__memberPw,
.main_signUp_content__memberName,
.main_signUp_content__memberBirthDate,
.main_signUp_content__memberGender,
.main_signUp_content__memberAddress{
	margin-bottom: 10px;
}

.label__memberId,
.label__memberPw,
.label__memberName,
.label__memberBirthDate,
.label__memberGender,
.label__memberAddress,
.label__memberPhoneNum,
.genderFemale,
.genderMale {	
	display: inline-block;
	width: 120px;
	font-size: 23px;
	color: white;
	font-weight: bold;
	text-shadow: 3px 3px 3px #0000004a;
	margin-left: 15px;		
}

.genderFemale,
.genderMale {	
	display: inline-block;
	width: 120px;
	font-size: 23px;
	color: white;
	font-weight: bold;
	text-shadow: 3px 3px 3px #0000004a;
	margin-left: 15px;		
}


.memberId,
.memberPw,
.memberName,
.birthDateYear,
.birthDateMonth,
.birthDateDay,
.memberZipCode,
.memberAddress,
.memberAddressInfo{
	height: 40px;
	border: none;
	border-radius: 38px;
	box-shadow: 3px 3px 3px #0000004a;
	font-size: 16px;
	text-align: center;
	margin: 5px 0 5px 0;
}

.memberPhoneNumFirst,
.memberPhoneNumSecond,
.memberPhoneNumThird{
	height: 40px;
	border: none;
	border-radius: 38px;
	box-shadow: 3px 3px 3px #0000004a;
	font-size: 16px;
	text-align: center;
	margin: 5px 0 5px 0;
	width: 135px; 
}

.memberId,
.memberZipCode{
	width: 300px;
}

.checkIdBtn,
.ZipCodeFindBtn{
	height: 40px;
	width: 121px;
	border: none;
	border-radius: 38px;
	font-size: 16px;
	text-align: center;
	background-color: #AD8080;
	color: white;
	font-weight: bold;
	box-shadow: 3px 3px 3px #0000004a;
}

.memberPw,
.memberName,
.memberAddress,
.memberAddressInfo{
	width: 425px;
}

.birthDateYear{
	width: 208px;
}

.birthDateMonth,
.birthDateDay{
	width: 100px;
}

.memberAddress,
.memberAddressInfo,
.passwordMessage,
.birthDateYearMessage,
.birthDateMonthMessage,
.birthDateDayMessage{
	margin-left: 140px;
}



.main_signUp_content__memberGender input[type=radio] {
    appearance: none; /* 기본 스타일 제거 */
    width: 20px; /* 크기 조절 */
    height: 20px; /* 크기 조절 */
    border: 2px solid black; /* 테두리 스타일 */
    border-radius: 50%; /* 둥글게 만들기 */
    outline: none; /* 포커스 아웃라인 제거 */
    cursor: pointer; /* 커서 변경 */
    transition: background 0.3s;
    margin-left: 55px;
}

.main_signUp_content__memberGender input[type=radio]:checked{
	background-color: black;
}


#signUpForm input::placeholder{
	text-align: center;
}

#memberZipCode,
#memberAddress,
#memberAddressInfo{
	margin-bottom: 10px;
}

.signUpBtn{	
	height: 40px;
	width: 543px;
	border: none;
	border-radius: 38px;
	font-size: 16px;
	text-align: center;
	background-color: #AD8080;
	color: white;
	font-weight: bold;
	/* box-shadow: 3px 3px 3px #0000004a;  */
	margin-left: 15px;
}



