@charset "UTF-8";

#mainContainer{
	background-color: white;	
}

.ageCategory{
	height: 142px;
	display: flex;
	padding: 50px 90px;
    font-size: 25px;
    flex-wrap: wrap;
    text-align: center;
        border-bottom: 1px solid;
}
.courseListInfo{
	display: flex;
	justify-content: center;
	background-color: #9ba9cf4f;
}
.courseListInfo--flex{
	width: calc(100% - 375px);
}
.ageElement{
	width: calc(100% / 4);
	border-bottom: 1px solid;
	height: 40px;
	cursor: pointer;
}
.ageElement:hover{
	border-bottom: 3px solid;
}
.mainImg{
	width: 400px;
    height: 400px;
    margin-bottom: 20px;
    overflow: hidden;
  	position: relative;
  	border-radius: 5px;
}
.courseListBox{
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid;
	margin-top: 30px;
}
.courseFlexBox{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.courseBox{
	margin: 0 0 20px 75px;
	cursor: pointer;
}
.mainImgHover{
	width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 5px;
}
.mainImgHover:hover{
	transform: scale(1.1);
	border-radius: 5px;
}
.ageCategoryBtn{
	border: none;
	background-color: transparent;
	font-size: 20px;
    height: 40px;
    cursor: pointer;
    text-decoration: none;
    font-family: "noto-sans", sans-serif;
	font-weight: 700;
	font-style: normal;
}
.categorySelectList{
	display: flex;
	margin-top: 10px;
}
.categoryList{
	margin-left: 20px;
}
.categoryList img{
	width: 100px;
    height: 100px;
    border-radius: 50%;
}
.categoryList a{
	font-size: 18px;
    color: #474444;
}
.categoryAll{
	width: 100px;
	height: 100px;
	display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 50%;	
}
.admin{
	display: flex;
    justify-content: right;
    padding: 30px;
}
.admin button{
	border: 1px solid #6495ED;
    background: #6495ED;
    font-size: 18px;
    color: white;
    padding: 10px;
    border-radius: 8px;
	margin-left: 20px;
}
.lineHover{
	border-bottom: 3px solid;
}

.adminCourseInsertBtn,.adminCourseDeleteBtn{
	cursor: pointer;
}
.adminCourseInsertBtn:hover,.adminCourseDeleteBtn:hover{
	border: 1px solid #3a76e1;
	background: #3a76e1;
}
.course-Ing{
	margin-bottom: 20px;
}
.courseRecStartLabel{
	background-color: #e0f55c;
    border: 1px solid #e0f55c;
    width: 100px;
    padding: 0 8px;
    border-radius: 12px;
}
.courseRecStartWaitLabel{
	background-color: #9e9e9e;
    border: 1px solid #9e9e9e;
    width: 100px;
    padding: 0 8px;
    border-radius: 12px;
}
.courseRecEndWaitLabel{
	background-color: #9e9e9e;
    border: 1px solid #9e9e9e;
    width: 100px;
    padding: 0 8px;
    border-radius: 12px;
}
.courseImg{
	width: 450px;
	height: 300px;
	border-radius: 15px;
}
.ageCategoryBorder{
	border: none;
	height: 0;
}
.checkbox--dis{
	margin-left: 47px;
}
.checkbox--dis input{
	width: 23px;
	height: 23px;
}
.courseInfoElement{
	display: flex;
	flex-direction: column;
}
.costBox{
	height: 74px;
    width: 320px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 0;
    align-items: center;
}
.costBox p{
	font-family: "noto-sans", sans-serif;
	font-weight: 700;
	font-style: normal;
}
.courseTimeTxt{
	display: flex;
}
.shoppingCart img{
	width: 40px;
	height: 40px;
}
.courseInfoElementTxt{
	margin-top: 15px;
}
.courseInfoElementTxt div{
	margin-top: 4px;
}

.courseTimeTxt img{
	width: 20px;
	height: 20px;
}
.courseName p{
	margin-top: 10px;
	font-family: "noto-sans", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 20px;
}