@charset "UTF-8";

#mainContainer{
	background-color: white;	
}

.ageCategory{
	border: 1px solid;
	height: 70px;
	display: flex;
	/* justify-content: space-between; */
	padding: 50px 90px;
    font-size: 25px;
    flex-wrap: wrap;
    text-align: center;
}
.ageElement{
	width: calc(100% / 4);
	border-bottom: 1px solid;
	height: 40px;
}
.ageElement:hover{
	border-bottom: 3px solid;
}
.mainImg{
	border: 1px solid;
	width: 400px;
    height: 400px;
}
.courseCategory{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100vw;
}
.courseFlexBox{
	width: 90%;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding-left: 120px;
}
.courseBox{
	margin-left: 100px;
}
.ageCategoryBtn{
	border: none;
	background-color: transparent;
	font-size: 24px;	
	width: 400px;
    height: 40px;
}