@charset "UTF-8";
#mainContainer{
	background-color: #8392bc40;
}
.infoBox{
	width: 70%;
	text-align: center;
}
.courseImg{
	width: 400px;
	height: 300px;
	border-radius: 15px;
}
.courseDetailBox{
}
.rightBox{
	position: relative;
	top: 80px;
	/*overflow-x: hidden;*/
}
.rightBoxInner{
	position: absolute;
}
.courseInfoText{
	margin-top: 50px;
}
.rightBoxFloat{
	position: relative;
	inset: 0px 0px 2971.5px 1100px;
}
.rightBoxInfo{
	position: absolute;
	width: 430px;
	height: 612px;
	border-radius : 15px;
	top:100px;
	background-color: white;
}
.course-Ing{
	margin-top: 10px;
}
.courseRecStart{	
	height: 30px;
}
.courseInfoTitle{
	font-size: 25px;
	padding: 20px 0;
	border-bottom: 1px solid rgb(0 0 0 / 61%);
	display: flex;
}
.courseReservation{
	border-top: 1px solid rgb(0 0 0 / 61%);
}
.rightBoxInfoInner{
	/*overflow-y: auto;*/
	position:relative;
	padding: 40px 10px 0 40px;
	height: 450px;
}
.scrollArea::-webkit-scrollbar {
  /* 스크롤바의 너비 */
  width: 4px;
  background: #e8e8e8;
  background-position: center 0;
  border-radius: 3px;
}
.scrollArea::-webkit-scrollbar {
  /* 스크롤바의 너비 */
  width: 4px;
  background: #e8e8e8;
  background-position: center 0;
  border-radius: 3px;
}
.scrollArea::-webkit-scrollbar-thumb {
  /* 스크롤바의 길이 */
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  background-color: #979797;
}

.courseRecStartLabel{
	background-color: #e0f55c;
    border: 1px solid #e0f55c;
    width: 100px;
    padding: 0 8px;
    border-radius: 12px;
}
.courseRecStartWaitLabel{
	background-color: #e0f55c;
    border: 1px solid #e0f55c;
    width: 100px;
    padding: 0 8px;
    border-radius: 12px;
}
.courseRecEndWaitLabel{
	background-color: #9e9e9e;
    border: 1px solid #9e9e9e;
    width: 100px;
    padding: 0 8px;
    border-radius: 12px;
}
.scrollArea{
	padding:0 30px 20px 0;
	height: 92%;
	position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}
.courseInfoSub{
	font-size: 24px;
	margin-top: 20px;
}
.courseInfoTitleImg img{
	width: 90px;
	height: 90px;
}
.courseInfoTitleSub{
	margin-left: 32px;
}

.rightBoxInfoInner::after{
    content: "";
    position: absolute;
    left: 0;
    width: calc(100% - 14px);
    height: 20px;
    bottom: 15px;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    z-index: 1;
}

.courseInfoSubElement{
	display: flex;
}

.courseInfoSub{
	font-size: 18px;
}
.courseInfoSub > div + div{
	margin-top: 20px;
}
.courseInfoSubElement--flex.title{
	width: 86px;
	color: #666;
}
.courseInfoSubElement--flex.detail{
	margin-left: 40px;
}