@charset "UTF-8";
#mainContainer{
	background-color: #8392bc40;
	min-height: 100vh;
}
.infoBox{
	width: 70%;
	text-align: center;
}
.courseImg{
	width: 450px;
	height: 300px;
	border-radius: 15px;
}
.courseDetailBox{
	margin-top: 80px;
}
.rightBox{
	position: relative;
	/*overflow-x: hidden;*/
}
.rightBoxInner{
	position: absolute;
}
.courseInfoText{
	margin-top: 50px;
	
}
.rightBoxFloat{
	position: relative;
	inset: 0px 0px 2971.5px 1100px;
}
.rightBoxInfo{
	position: absolute;
	width: 430px;
	height: 612px;
	border-radius : 15px;
	top:100px;
	background-color: white;
	transition: top .4s ease, left .4s ease;
}
.course-Ing{
	margin-top: 10px;
}
.courseRecStart{	
	height: 30px;
}
.courseInfoTitle{
	font-size: 25px;
	padding: 20px 0;
	border-bottom: 1px solid rgb(0 0 0 / 61%);
	display: flex;
}
.courseReservation{
	border-top: 1px solid rgb(0 0 0 / 61%);
	padding: 30px 31px 40px;
}
.rightBoxInfoInner{
	/*overflow-y: auto;*/
	position:relative;
	padding: 40px 10px 0 40px;
	height: 450px;
	
}
.scrollArea::-webkit-scrollbar {
  /* 스크롤바의 너비 */
  width: 4px;
  background: #e8e8e8;
  background-position: center 0;
  border-radius: 3px;
}
.scrollArea::-webkit-scrollbar {
  /* 스크롤바의 너비 */
  width: 4px;
  background: #e8e8e8;
  background-position: center 0;
  border-radius: 3px;
}
.scrollArea::-webkit-scrollbar-thumb {
  /* 스크롤바의 길이 */
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  background-color: #979797;
}

.courseRecStartLabel{
	background-color: #e0f55c;
    border: 1px solid #e0f55c;
    width: 100px;
    padding: 0 8px;
    border-radius: 12px;
}
.courseRecStartWaitLabel{
	background-color: #e0f55c;
    border: 1px solid #e0f55c;
    width: 100px;
    padding: 0 8px;
    border-radius: 12px;
}
.courseRecEndWaitLabel{
	background-color: #9e9e9e;
    border: 1px solid #9e9e9e;
    width: 100px;
    padding: 0 8px;
    border-radius: 12px;
}
.scrollArea{
	padding:0 30px 20px 0;
	height: 92%;
	position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}
.courseInfoSub{
	font-size: 24px;
	margin-top: 20px;
}
.courseInfoTitleImg img{
	width: 90px;
	height: 90px;
}
.courseInfoTitleSub{
	margin-left: 32px;
}

.rightBoxInfoInner::after{
    content: "";
    position: absolute;
    left: 0;
    width: calc(100% - 14px);
    height: 20px;
    bottom: 15px;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    z-index: 1;
}

.courseInfoSubElement{
	display: flex;
}

.courseInfoSub{
	font-size: 18px;
}
.courseInfoSub > div + div{
	margin-top: 20px;
}
.courseInfoSubElement--flex.title{
	width: 86px;
	color: #666;
}
.courseInfoSubElement--flex.detail{
	margin-left: 40px;
}
.courseResBtn{
	display: inline-block;
    padding: 18px;
    width: 330px;
    text-align: center;
    border-radius: 8px;
    background-color: #000;
    border: 1px solid #000;
    transition: all .4s ease;
    color: white;
    font-size: 18px;
    text-decoration: none;
}
.popHead{
	padding: 0 0 40px 0;
}
.popTopArea{
	display: flex;
}
.back_course{
	display: block;
    width: 32px;
    height: 32px;
}
.courseText{
	margin-bottom: 12px;
    font-size: 18px;
    line-height: 26px;
    font-family: "NotoSans_Medium", sans-serif;
    color: rgba(0, 0, 0, .9);
}
.selectedBox{
	padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f8f8f8;
}
.courseResBtnBox{
	display: flex;
}
.courseResBtnBox img{
	border: 1px solid rgb(0 0 0 / 61%);
	border-radius: 8px;
	padding: 12px;
}
.courseResCostBox{
	display: flex;
	justify-content: space-between;
	padding: 0 0 20px;
	align-items: flex-end;
}
.courseResCost p{
	font-size: 18px;
}
.courseResTotalCost p{
	font-size: 32px;
	font-family: 'General Sans', sans-serif;
}
.admin{
	display: flex;
    justify-content: right;
    padding: 50px 80px 50px;
}
.admin button{
	border: 1px solid #6495ED;
    background: #6495ED;
    font-size: 18px;
    color: white;
    padding: 10px;
    border-radius: 8px;
	margin-left: 20px;
}
.admin button:hover{
	border: 1px solid #3a76e1;
	background: #3a76e1;
}
.courseTeacherInfo{
	margin-top: 20px;
}
.courseTeacherInfo p{
	font-weight: bold;
	font-size: 18px;
}
.courseInfo--boxP{
	display: flex;
	justify-content: center;
}
.courseInfo--box{
	margin-top: 20px;
}
.dot_txt_p{
	font-family: "NotoSans_Bold", sans-serif;
    color: rgba(0, 0, 0, .9);
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -.6px;
    margin-bottom: 20px;
}
.info_dot_txt{
	margin-top: 50px;
	text-align: left;
}
.info_dot_txt .dot_txt + .dot_txt {
    margin-top: 20px;
}
.dot_txt{
	position: relative;
    padding-left: 12px;
    font-size: 14px;
    line-height: 22px;
    font-family: "NotoSans_Medium", sans-serif;
    color: rgba(0, 0, 0, .6);
}
.info_dot_txt .dot_txt{
	font-size: 16px;
    line-height: 26px;
    font-family: "NotoSans_Regular", sans-serif;
    color: rgba(0, 0, 0, .8);
    letter-spacing: -.4px;
}
.dot_txt:before {
    display: block;
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 4px;
    height: 4px;
    background: rgba(0, 0, 0, .6);
    border-radius: 50%;
}
.memberEmoneyBox{
	margin-top: 50px;
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.courseMainImage{
	width: 120px;
    height: 30px;
}