<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.withJo.comments">
	
	<resultMap type="commentsVo" id="commentsResultMap">
		<id column="COMMENTS_NO" property="commentsNo" />
		<result column="MEMBER_NO" property="memberNo"/>
		<result column="MEMBER_NAME" property="memberName"/>
		<result column="BOARD_NO" property="boardNo"/>
		<result column="COMMENTS_CONTENT" property="commentsContent"/>
		<result column="COMMENTS_CREDATE" property="commentsCredate" javaType="java.util.Date" />
		<result column="COMMENTS_UPDATE" property="commentsUpdate" javaType="java.util.Date" />
	</resultMap>
	
	<select id="commentsSelectList" parameterType="map" resultMap="commentsResultMap">
		SELECT C.COMMENTS_NO, C.MEMBER_NO, C.BOARD_NO, C.COMMENTS_CONTENT, 
		   C.COMMENTS_CREDATE, C.COMMENTS_UPDATE, M.MEMBER_NAME 
		FROM COMMENTS C
		JOIN MEMBER M ON C.MEMBER_NO = M.MEMBER_NO 
		WHERE BOARD_NO = #{boardNo}
		ORDER BY C.COMMENTS_NO DESC
	</select>		
	
	<insert id="commentsInsertOne" parameterType="commentsVo">
		INSERT INTO COMMENTS(COMMENTS_NO, BOARD_NO, MEMBER_NO, COMMENTS_CONTENT, COMMENTS_CREDATE, COMMENTS_UPDATE)
		VALUES (COMMENTS_NO_SEQ.NEXTVAL, #{boardNo}, #{memberNo}, #{commentsContent}, SYSDATE, SYSDATE)
	</insert>
	
	<update id="noticeUpdateOne" parameterType="noticeVo">
		UPDATE NOTICE
		SET NOTICE_TITLE = #{noticeTitle}, NOTICE_CONTENT = #{noticeContent}, NOTICE_IMG = #{noticeImg}, NOTICE_UPDATE = SYSDATE
		WHERE NOTICE_NO = #{noticeNo}
	</update>
	
	<delete id="commentsDeleteOne" parameterType="int">
	    DELETE FROM COMMENTS
	    WHERE COMMENTS_NO = #{commentsNo}
	</delete>

</mapper>