<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.withJo.course">

	<resultMap type="courseVo" id="courseResultMap">
		<id column="COURSE_NO" property="courseNo"/>
		<result column="CATEGORY_NO" property="categoryNo"/>
		<result column="CATEGORY_NAME" property="categoryName"/>
		<result column="COURSE_NAME" property="courseName"/>
		<result column="COURSE_TEACHER" property="courseTeacher"/>
		<result column="COURSE_COST" property="courseCost"/>
		<result column="COURSE_CURRENT_PEOPLE" property="courseCurrentPeople"/>
		<result column="COURSE_MAX_PEOPLE" property="courseMaxPeople"/>
		<result column="COURSE_AGE_LIMIT" property="courseAgeLimit"/>
		<result column="COURSE_START_DATE" property="courseStartDate"/>
		<result column="COURSE_END_DATE" property="courseEndDate"/>
		<result column="COURSE_START_TIME" property="courseStartTime"/>
		<result column="COURSE_END_TIME" property="courseEndTime"/>
		<result column="COURSE_REC_START" property="courseRecStart"/>
		<result column="COURSE_REC_END" property="courseRecEnd"/>
		<result column="COURSE_INFO" property="courseInfo"/>
		<result column="COURSE_MAIN_IMAGE" property="courseMainImage"/>
		<result column="COURSE_DAY_OF_THE_WEEK" property="courseDayOfTheWeek"/>
		<result column="MEMBER_NO" property="memberNo"/>
	</resultMap>
	
	<sql id="age">
		<if test="courseAgeLimit != null and courseAgeLimit != 0">
			CL.COURSE_AGE_LIMIT = #{courseAgeLimit}
		</if>
	</sql>
	
	<select id="getCourseList" resultMap="courseResultMap">
		SELECT COURSE_NO, CATEGORY_NO, COURSE_NAME, COURSE_TEACHER, COURSE_COST, COURSE_CURRENT_PEOPLE, COURSE_MAX_PEOPLE,
			COURSE_AGE_LIMIT, COURSE_START_DATE, COURSE_END_DATE, COURSE_START_TIME, COURSE_END_TIME, COURSE_REC_START, COURSE_REC_END,
			COURSE_INFO, COURSE_MAIN_IMAGE
		FROM COURSE_LIST
	</select>
	
	<select id="courseCategorySelect" parameterType="int" resultMap="courseResultMap">
		SELECT C.CATEGORY_NO, C.CATEGORY_NAME, CL.COURSE_NO, CL.COURSE_NAME, CL.COURSE_TEACHER, CL.COURSE_COST, CL.COURSE_CURRENT_PEOPLE, CL.COURSE_MAX_PEOPLE,
			CL.COURSE_AGE_LIMIT, CL.COURSE_START_DATE, CL.COURSE_END_DATE, CL.COURSE_START_TIME, CL.COURSE_END_TIME, CL.COURSE_REC_START, CL.COURSE_REC_END,
			CL.COURSE_INFO, CL.COURSE_MAIN_IMAGE
		FROM CATEGORY C
		INNER JOIN COURSE_LIST CL
		ON C.CATEGORY_NO = CL.CATEGORY_NO
		<where>
			<if test="courseAgeLimit != null and courseAgeLimit != 0">
				AND CL.COURSE_AGE_LIMIT = #{courseAgeLimit}
			</if>
			<if test="categoryNo != null and categoryNo != 0">
				AND C.CATEGORY_NO = #{categoryNo}
			</if>
		</where>
		<!--AND C.CATEGORY_NO = #{categoryNo}-->
	</select>
	
	<select id="getCourseDetailList" parameterType="int" resultMap="courseResultMap">
		SELECT COURSE_NO, CATEGORY_NO, COURSE_NAME, COURSE_TEACHER, COURSE_COST, COURSE_CURRENT_PEOPLE, COURSE_MAX_PEOPLE,
			COURSE_AGE_LIMIT, COURSE_START_DATE, COURSE_END_DATE, COURSE_START_TIME, COURSE_END_TIME, COURSE_REC_START, COURSE_REC_END,
			COURSE_INFO, COURSE_MAIN_IMAGE
		FROM COURSE_LIST
		WHERE COURSE_NO = #{courseNo}
	</select>
	
	<select id="getCourseDay" parameterType="int" resultType="map">
		SELECT COURSE_NO AS courseNo,COURSE_DAY_OF_THE_WEEK AS "courseDayOfTheWeek"
		FROM COURSE_LIST_DAY
		WHERE COURSE_NO = #{courseNo}
	</select>
	
	<!--<select id="getCategory" parameterType="int" resultMap="courseResultMap">
		SELECT C.CATEGORY_NO, C.CATEGORY_NAME, CL.COURSE_NO, CL.CATEGORY_NO, CL.COURSE_NAME, CL.COURSE_TEACHER, CL.COURSE_COST,
			CL.COURSE_AGE_LIMIT, CL.COURSE_START_TIME, CL.COURSE_END_TIME, CL.COURSE_REC_START, CL.COURSE_REC_END,
			CL.COURSE_INFO, CL.COURSE_MAIN_IMAGE
		FROM CATEGORY C, COURSE_LIST CL
		WHERE C.CATEGORY_NO = #{categoryNo}
		AND C.CATEGORY_NO = CL.CATEGORY_NO
		AND CL.COURSE_AGE_LIMIT = #{courseAgeLimit}
	</select>-->
	<select id="getCategory" resultMap="courseResultMap">
		SELECT CATEGORY_NO, CATEGORY_NAME
		FROM CATEGORY
	</select>
	
	<insert id="courseInsert" parameterType="map" useGeneratedKeys="true" keyProperty="courseNo">
	<selectKey keyProperty="courseNo" resultType="int" order="BEFORE">
		SELECT COURSE_NO_SEQ.NEXTVAL
		FROM DUAL
	</selectKey>
		INSERT INTO COURSE_LIST(COURSE_NO, CATEGORY_NO, COURSE_NAME
							, COURSE_TEACHER, COURSE_COST, COURSE_CURRENT_PEOPLE
							, COURSE_MAX_PEOPLE,COURSE_AGE_LIMIT, COURSE_START_DATE
							, COURSE_END_DATE, COURSE_START_TIME, COURSE_END_TIME
							, COURSE_REC_START, COURSE_REC_END,COURSE_INFO
							, COURSE_MAIN_IMAGE)
		VALUES(#{courseNo}, #{categoryNo}, #{courseName}
			, #{courseTeacher}, #{courseCost}, 0
			, #{courseMaxPeople}, #{courseAgeLimit}, TO_DATE(#{courseStartDate}, 'YYYY-MM-DD')
		    , TO_DATE(#{courseEndDate}, 'YYYY-MM-DD'), #{courseStartTime}, #{courseEndTime}
		    , TO_DATE(#{courseRecStart}, 'YYYY-MM-DD'), TO_DATE(#{courseRecEnd}, 'YYYY-MM-DD'), #{courseInfo}
		    , #{courseMainImage})
	</insert>
	
	<insert id="courseDayInsert" parameterType="map" keyProperty="courseNo">
		INSERT INTO COURSE_LIST_DAY(COURSE_LIST_DAY_NO, COURSE_NO, COURSE_DAY_OF_THE_WEEK)
		VALUES(COURSE_LIST_DAY_NO_SEQ.NEXTVAL, #{courseNo}, #{courseDayOfTheWeek})
	</insert>
	
</mapper>