<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.withJo.event">
	
	<resultMap type="eventVo" id="eventResultMap">
		<id column="EVENT_NO" property="eventNo" />
		<result column="EVENT_LOTTO" property="eventLotto"/>
		<result column="EVENT_DRAWING" property="eventDrawing"/>
		<result column="EVENT_LOTTO_UPDATE" property="eventLottoUpdate" javaType="java.util.Date" />
		<result column="EVENT_DRAWING_UPDATE" property="eventDrawingUpdate" javaType="java.util.Date" />
	</resultMap>
	
	
	<select id="eventSelectList" parameterType="map" resultMap="eventResultMap">
		SELECT EVENT_NO, EVENT_LOTTO, EVENT_DRAWING, EVENT_LOTTO_UPDATE, EVENT_DRAWING_UPDATE
		FROM EVENT
	</select>
	
	<update id="eventUpdateLotto" parameterType="eventVo">
		UPDATE EVENT
		SET EVENT_LOTTO = #{eventLotto}, EVENT_LOTTO_UPDATE = SYSDATE
		WHERE EVENT_NO = #{eventNo}
	</update>
	
	<update id="eventUpdateDrawing" parameterType="eventVo">
		UPDATE EVENT
		SET EVENT_DRAWING = #{eventDrawing}, EVENT_DRAWING_UPDATE = SYSDATE
		WHERE EVENT_NO = #{eventNo}
	</update>

</mapper>