<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.withJo.event">
	
	<resultMap type="eventVo" id="eventResultMap">
		<id column="EVENT_NO" property="eventNo" />
		<result column="EVENT_CATEGORY_NO" property="eventCategoryNo"/>
		<result column="EVENT_HIDE_SHOW" property="eventHideShow"/>
		<result column="EVENT_CREADATE" property="eventCreadate" javaType="java.util.Date" />
		<result column="EVENT_UPDATE" property="eventUpdate" javaType="java.util.Date" />
	</resultMap>
	
	<select id="eventSelectList" resultMap="eventResultMap">
		SELECT EVENT_NO, EVENT_CATEGORY_NO, EVENT_HIDE_SHOW, EVENT_CREADATE, EVENT_UPDATE
		FROM EVENT
	</select>
	
	<update id="eventUpdateLotto" parameterType="eventVo">
		UPDATE EVENT
		SET EVENT_HIDE_SHOW = #{eventHideShow}, EVENT_UPDATE = SYSDATE
		WHERE EVENT_CATEGORY_NO = 1
	</update>
	
	<update id="eventUpdateDrawing" parameterType="eventVo">
		UPDATE EVENT
		SET EVENT_HIDE_SHOW = #{eventHideShow}, EVENT_UPDATE = SYSDATE
		WHERE EVENT_CATEGORY_NO = 2
	</update>

</mapper>